<!DOCTYPE html>
<html>
    <head>
		<meta charset = "utf-8">
        <title>Site0.1</title> 
		<link rel="stylesheet" href="css/style.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body>
		<header>
			<div class="header__logo"><p>Site0.1</p></div>
			<nav>
				<div class="topnav" id="myTopnav">
					<a href="#">Home</a>
					<a href="#news">News</a>
					<a href="#video">Video</a>
					<a href="#">User</a>
					<a href="#" id="menu" class="icon">&#9776;</a>
				</div>
			</nav>
		</header>
		
		<main>
			<div class="main__welcome">
				<h1>WELCOM ON <span class="mycompany">Site0.1</span></h1>
				<p>:)</p>
			</div>
			<div class="main_news">
				<a name="news"></a>
				<a href="#" class="menu__button">News</a>
			</div>
			<div class="main_video">
				<a name="video"></a>
				<a href="#" class="menu__button">Video</a>
			</div>
		</main>
		<footer>
			<div class="wrapper">
				<div class="social">
				
				</div>
			</div>
		</footer>
		
		<script src="js/script.js"></script>
    </body>
</html>
